:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #343a40;
  background-color: #f5f5f5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 100%;
}

* {
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #588157;
  text-decoration: inherit;
}
a:hover {
  color: #a3b18a;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
}

button {
  height: fit-content;
  background: unset;
  border-radius: 10px;
  border: 1px solid #dee2e6;
  padding: 0.6em 1.2em;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  color: #212529;
  font-weight: 500;
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  transition: background-color 0.3s;
}

button:focus {
  outline: 1px solid #588157;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #f5f5f5;
    background-color: #f5f5f5;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
